html {
    scroll-behavior: smooth;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 24px;
}

.link,
.link:active {
    text-decoration: none;
    color: #000000;
}

.link:hover {
    text-decoration-line: underline;
}

#photo {
    margin-left: 25px;
    height: 300px;
    width: 230px;
    border-radius: 10px;
    box-shadow: -5px -3px 10px 0px rgba(0, 0, 0, 0.3);
}

.container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 1220px;
}

h4 {
    text-align: center;
}

.content-wrapper {
box-sizing: border-box;
display: flex;
font-size: 16px;
height: auto;
line-height: 24px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
width: 1180px;
}

.content {
display: table-cell;
background-image: none;
box-sizing: border-box;
font-size: 16px;
height: auto;
line-height: 24px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-bottom: 30px;
padding-left: 70px;
padding-right: 40px;
padding-top: 30px;
width: 720px;
border-radius: 10px;
box-shadow: -7px -5px 10px 0px rgba(0, 0, 0, 0.3);
}

.primary {
font-size: 14px;
padding-left: 40px;
width: 360px;
}

.primary > div > h2 {
    margin-top: 10px;
    margin-bottom: 25px;
    text-align: center;
}
.primary > div {
    position: sticky;
    top: 20px; 
}

.information {
    text-align: center;
}

.infomation__ul {
    text-align: left;
}

.size-hh {
    margin: 10px;
    width: 45px;
    height: 45px;
    position: absolute
}
.link-pdf {
    margin: auto;
    text-decoration: none;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: relative;
}
.link-pdf:hover {
    background: #FE606E;
    opacity: 0.4s;
}

.link-pdf:active {
    background: #0b9a1e;
}

.icon {
    box-shadow: -3px -1px 10px 0px rgba(0, 0, 0, 0.3);
}









